body {
  font-size: 18px;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-size: cover;
  min-height: 100vh;
}

.slide {
  display: grid;
  width: 90%;
  max-width: 960px;
  margin: 50px auto;
  font-family: "Karla", sans-serif;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 200px 1fr;
  box-shadow: 0px 60px 95px -30px #3c3c3c;
}

.slide__decorative-sidebar {
  position: relative;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  overflow: hidden;
}
@media screen and (max-width: 970px) {
  .slide__decorative-sidebar {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    display: none;
  }
}
.slide__decorative-sidebar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #f9f9f9;
  z-index: -1;
}

.slide__decorative-sidebar img {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: all 0.3s linear;
  transform: translateX(0) scale(1);
}
.slideshow--out .slide__decorative-sidebar img {
  opacity: 0;
  transform: translateX(-50%) scale(1.2);
}
.slideshow--in .slide__decorative-sidebar img {
  opacity: 0;
  transform: translateX(50%) scale(1.2);
}

.slide__info {
  display: flex;
  position: relative;
  flex-direction: row;
  grid-column: 3/-1;
  grid-row: 1/span 2;
  background: linear-gradient(to right, #ebebeb 0%, #f1f1f1 100%);
  overflow: hidden;
}
@media screen and (max-width: 970px) {
  .slide__info {
    grid-column: 1/-1;
    grid-row: 1/span 2;
  }
}

.slide__info__text {
  width: 30%;
  margin: 9%;
  z-index: 2;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.slideshow--out .slide__info__text {
  transform: translateX(-50%);
  opacity: 0;
}
.slideshow--in .slide__info__text {
  transform: translateX(50%);
  opacity: 0;
}
@media screen and (max-width: 645px) {
  .slide__info__text {
    width: 100%;
  }
}

.slide__info__title {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.66em;
}

.slide__info__description {
  line-height: 1.5em;
  color: #606060;
}

.slide__info__image {
  position: absolute;
  bottom: -15%;
  right: 15%;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@media screen and (max-width: 1180px) {
  .slide__info__image {
    right: 10%;
  }
}
@media screen and (max-width: 1060px) {
  .slide__info__image {
    right: 5%;
  }
}
@media screen and (max-width: 960px) {
  .slide__info__image {
    right: 0;
  }
}
@media screen and (max-width: 775px) {
  .slide__info__image {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 645px) {
  .slide__info__image {
    right: -50%;
  }
}
.slideshow--out .slide__info__image {
  opacity: 0;
  transform: translateY(20%) scale(1.1);
}
@media screen and (max-width: 775px) {
  .slideshow--out .slide__info__image {
    transform: translateX(-25%);
  }
}
.slideshow--in .slide__info__image {
  opacity: 0;
  transform: translateY(20%) scale(1.1);
}
@media screen and (max-width: 775px) {
  .slideshow--in .slide__info__image {
    transform: translateX(25%);
  }
}

.slide__arrows {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slide__arrows__arrow {
  display: inline-block;
  width: 62.5px;
  height: 60px;
  background-color: #0afa82 ;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  cursor: pointer;
}
.slide__arrows__arrow:hover {
  transform: scale(1.05);
}

.slide__arrows__arrow--disabled {
  background-color: #ffffff;
  cursor: default;
}
.slide__arrows__arrow--disabled:hover {
  transform: scale(1);
}

.slide__count {
  background: #ffffff;
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  padding: 15%;
}
@media screen and (max-width: 970px) {
  .slide__count {
    position: relative;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
    padding-top: 50px;
    background: transparent;
  }
}

.slide__count__title {
  font-weight: 700;
}

.slide__count__count {
  display: inline-block;
  font-weight: 700;
  font-size: 4em;
  margin-top: 0.5em;
  overflow: hidden;
}
@media screen and (max-width: 905px) {
  .slide__count__count {
    font-size: 3em;
  }
}

.slide__count__count span {
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  opacity: 1;
}
.slideshow--out .slide__count__count span {
  transform: translateY(100%);
  opacity: 0;
}
.slideshow--in .slide__count__count span {
  transform: translateY(-100%);
  opacity: 0;
}

.slide__details {
  grid-column: 4/-1;
  background: #1c1c1c;
  color: #ffffff;
  padding-bottom: 50px;
}
@media screen and (max-width: 970px) {
  .slide__details {
    grid-column: 2/-1;
    grid-row: 3/span 1;
    text-align: center;
  }
}
@media screen and (max-width: 775px) {
  .slide__details {
    padding-bottom: 0;
  }
}

.slide__next {
  position: relative;
  height: 100%;
  float: left;
  background: #0afa82;
  color: #1c1c1c;
  font-weight: 700;
  grid-column: 3/span 1;
}
@media screen and (max-width: 970px) {
  .slide__next {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
}

.slide__next span {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateZ(-90deg);
}

.slide__details__title {
  width: 100%;
  font-weight: 700;
  font-size: 1.3em;
  margin: 2.5em 0 1.3em 50px;
}
@media screen and (max-width: 970px) {
  .slide__details__title {
    margin-top: 2em;
  }
}
@media screen and (max-width: 775px) {
  .slide__details__title {
    margin-left: 0;
  }
}

.slide__details__block {
  display: inline-block;
  width: 25%;
  opacity: 1;
  padding-right: 0.5em;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.slideshow--out .slide__details__block {
  transform: translateY(-75%);
  opacity: 0;
}
.slideshow--in .slide__details__block {
  transform: translateY(-75%);
  opacity: 0;
}
@media screen and (max-width: 775px) {
  .slide__details__block {
    width: 100%;
    margin: 0 auto 2em;
  }
}

.slide__details__block--temp {
  margin-left: 50px;
}
@media screen and (max-width: 775px) {
  .slide__details__block--temp {
    margin-left: 0;
  }
}

.slide__details__block--water {
  transition-delay: 0.025s;
}

.slide__details__block--nutrition {
  transition-delay: 0.05s;
}

.slide__details__subtitle {
  color: #8d8d8d;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 1em;
}

.slide__details__block__description {
  font-size: 0.8em;
  line-height: 1.3em;
}

.credit-wrap {
  font-family: "Karla", sans-serif;
  width: 100%;
  text-align: center;
}

.credit {
  margin: 1em auto;
}